$black: #050609;
$white: #fffbfc;
$accent: #f71735;

$primary50: #fdeae4;
$primary100: #f9cabc;
$primary200: #f6a790;
$primary300: #f28363;
$primary400: #ef6941;
$primary500: #ec4e20;
$primary600: #ea471c;
$primary700: #e73d18;
$primary800: #e43513;
$primary900: #df250b;
$primaryA100: #ffffff;
$primaryA200: #ffdad6;
$primaryA400: #ffaba3;
$primaryA700: #ff948a;

$secondary50: #fff2e1;
$secondary100: #ffdfb4;
$secondary200: #ffca82;
$secondary300: #ffb550;
$secondary400: #ffa52b;
$secondary500: #ff9505;
$secondary600: #ff8d04;
$secondary700: #ff8204;
$secondary800: #ff7803;
$secondary900: #ff6701;
$secondaryA100: #ffffff;
$secondaryA200: #fff7f2;
$secondaryA400: #ffd5bf;
$secondaryA700: #ffc4a6;

$accent50: #fee3e7;
$accent100: #fdb9c2;
$accent200: #fb8b9a;
$accent300: #f95d72;
$accent400: #f83a53;
$accent500: #f71735;
$accent600: #f61430;
$accent700: #f51128;
$accent800: #f30d22;
$accent900: #f10716;
$accentA100: #ffffff;
$accentA200: #ffe6e7;
$accentA400: #ffb3b6;
$accentA700: #ff9a9e;
